# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.rxe
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

#others
*.sh
*.map
.project
.cproject
.cdtproject
.project
NeXTTool

#folder
build/
.csettings/